<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wang.dao.mapper.GradeMapper">

    <sql id="gradeBaseColumnSql">
        GradeID,
        GradeName
    </sql>

    <sql id="gradeBaseWhereSql">
        <if test="map!=null">
            <where>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.gradeId)">
                    GradeID = #{map.gradeId}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.gradeName)">
                    AND GradeName = #{map.gradeName}
                </if>
            </where>
        </if>
    </sql>

    <insert id="insertGrade" parameterType="com.wang.dao.entity.Grade">
        INSERT INTO grade(
        <include refid="gradeBaseColumnSql"/>
        )VALUES(
            #{gradeId},
            #{gradeName}
        )
    </insert>

    
    <delete id="deleteGradeByGradeId" parameterType="Integer">
        DELETE FROM grade WHERE GradeID = #{gradeId}
    </delete>

    <update id="updateGrade" parameterType="com.wang.dao.entity.Grade">
        UPDATE grade
        <set>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(gradeName)">
                GradeName = #{gradeName} ,
            </if>
        </set>
        WHERE GradeID = #{gradeId}
    </update>

    <select id="searchGradeByParams" parameterType="map" resultMap="gradeMap">
        SELECT
        <include refid="gradeBaseColumnSql"/>
        FROM grade
        <include refid="gradeBaseWhereSql"/>
    </select>

    <resultMap type="com.wang.dao.entity.Grade" id="gradeMap">
        <id column="GradeID" property="gradeId"/>
        <result column="GradeName" property="gradeName"/>
    </resultMap>

</mapper>
